<mat-card>
    <form [formGroup]="form" (ngSubmit)="auth.register(form.value)">
        <mat-form-field appearance="fill">
            <mat-label>User name</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="!form.valid">Register</button>
    </form>
    <button mat-raised-button color="primary" (click)="auth.home()">Home</button>
</mat-card>