/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center {
    text-align: center;
}

.login-form {
    width: 350px;
    margin: 10% auto;
    text-align: center;
    margin-bottom: 15px;
}

.btn-block {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.background {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle, darken(dodgerblue, 10%), #1f4f96, #1b2949, #000);
}

