#red-font {
    color: red
}

#blue-font {
    color: blue
}

#green-font {
    color: green
}

#total {
    font-weight: bold;
}

tr.mat-footer-row {
    font-weight: bold;
}

table {
    width: 100%;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.example-container {
    height: 80%;
    overflow: auto;
  }