.btn-block {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

.bold {
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

h1 {
    color: white
}

