<div class="container"> 
    <mat-card class="login">
        <h1 class="text-center"> Пријава </h1>
        <form [formGroup]="form" (ngSubmit)="auth.login(form.value)">
            <mat-form-field class="btn-block" appearance="fill">
                <mat-label>Корисничко име</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <br>
            <mat-form-field class="btn-block" appearance="fill">
                <mat-label>Унеси своју шифру</mat-label>
                <input  matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <mat-card-actions align="center"> 
                <button mat-raised-button color="primary">Пријави се</button>
            </mat-card-actions>
        </form>
        <br>
        <p class="text-center">
            Немаш налог? <a [routerLink]="'/register'">Направи га овде!</a>
        </p>
    </mat-card>
</div>