<div class="login-form"> 
    <mat-card>
        <h1 class="text-center"> Login </h1>
        <form [formGroup]="form" (ngSubmit)="auth.login(form.value)">
            <mat-form-field class="btn-block" appearance="fill">
                <mat-label>User name</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <br>
            <mat-form-field class="btn-block" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input  matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" [disabled]="!form.valid">Login</button>
        </form>
    </mat-card>
</div>
<p class="text-center">
    Don't have and account? <a href="#">Sing up here!</a>
</p>