<div id="wrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Welcome</span>
        <span class="example-spacer"></span>
        <button *ngIf="!auth.isAuthenticated" routerLink="/login" mat-icon-button color="white" aria-label="Example icon button with a home icon">
          <mat-icon>login</mat-icon>
        </button>
      <button *ngIf="auth.isAuthenticated" (click)="auth.logout()" mat-icon-button color="white" aria-label="Example icon button with a home icon">
        <mat-icon>logout</mat-icon>
      </button>
      </mat-toolbar-row>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>