.example-spacer {
  flex: 1 1 auto;
}

#wrapper
{
    height: 100%;
    min-height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.heightDiv {
height: 100%
}

