<!--<div class="login-form">
  <h1 id="title"> naslov</h1>
  <br><br>
  <mat-card id="overflow">
      <mat-card-content>
        <h1 id="timer"> {{this.timer}}</h1>
        <mat-form-field appearance="standard" class="form-field" style="float: left;">
          <mat-label>Ime pevača</mat-label>
          <input autocomplete="off" matInput [(ngModel)]="answer.singer" (keyup)="clearLyric()">
          <button mat-button *ngIf="answer.singer" matSuffix mat-icon-button aria-label="Clear" (click)="answer.singer=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="standard" class="form-field" style="float: right;">
          <mat-label>Naziv pesme</mat-label>
          <input autocomplete="off" matInput [(ngModel)]="answer.title" (keyup)="clearLyric()">
          <button mat-button *ngIf="answer.title" matSuffix mat-icon-button aria-label="Clear" (click)="answer.title=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <br>
        <br>
        <br>
        <div class="separator">ili</div>
        <mat-form-field appearance="standard" class="fullWidth">
          <mat-label>Deo pesme (minimum 4 reči)</mat-label>
          <input autocomplete="off" matInput [(ngModel)]="answer.lyric" (keyup)="clearInput()">
          <button mat-button *ngIf="answer.lyric" matSuffix mat-icon-button aria-label="Clear" (click)="clearLyric()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end"> 
          <button mat-button color="primary" (click)="next()" [disabled]="!minWordNumber && !(answer.title && answer.singer)">Sledeći odgovor</button>
      </mat-card-actions>
      <div style="overflow: auto; height: 300px;">
        <div *ngFor="let answer of game.answers" style="height: 60px;">
          {{answer.singer}} - {{answer.title}} {{answer.lyric}}
          <button style="background-color: #4CAF50; float:right" *ngIf="answer.isCorrectAnswer && submited" mat-flat-button>Tacno </button>
          <button style="float:right" *ngIf="!answer.isCorrectAnswer && submited" mat-flat-button color="warn">Netacno</button>
        </div>
          
      </div>
      <mat-card-actions align="end"> 
        <button mat-flat-button color="primary" (click)="finish()">Završi</button>
      </mat-card-actions>
  </mat-card>
</div>-->
