#red-font {
    color: red;
    margin-left: 20px;
}

#blue-font {
    color: blue;
    margin-left: 20px;
}

#green-font {
    color: green
}
.container {
    height: calc(100vh - 65px);
    display: grid;
    grid-template-columns: 40px auto 50px auto 40px ;
    grid-template-rows: 10%  50%  auto;
    background: radial-gradient(circle, darken(dodgerblue, 10%), #1f4f96, #1b2949, #000);
}



.left {
    grid-column-start: 2;
    grid-row-start: 2;
}

.right {
    grid-column-start: 4;
    grid-row-start: 2;
}

.bottom {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
}

.title {
    grid-column-start: 3;
    grid-row-start: 1;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }

.left.mat-elevation-z {
    box-shadow: 0px 8px 10px -5px rgb(0,0,0), 0px 16px 24px 2px rgb(201, 51, 51), -10px 6px 30px 5px rgb(122, 48, 48);
  }

.right.mat-elevation-z {
box-shadow: 0px 8px 10px -5px rgb(0,0,0), 0px 16px 24px 2px rgb(51, 51, 201), 10px 6px 30px 5px rgb(48, 48, 112);
}




