
.container {
    height: calc(100vh - 65px);
    display: grid;
    grid-template-columns: 40px auto 50px auto 40px ;
    grid-template-rows: 10%  50%  auto;
  }

.left {
    grid-column-start: 2;
    grid-row-start: 2;
}

.right {
    grid-column-start: 4;
    grid-row-start: 2;
}

.bottom {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }


