<div class="background container">
    <div class="stage">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>
    <div class="bottom center">
        <button mat-button (click)="startSingleGame()">Играј сам</button>
    </div>
    <div class="bottom center" style="margin-top: 75px;">
        <button mat-button [routerLink]="'/new-game'">Направи собу</button>
    </div>
    <div class="bottom center" style="margin-top: 150px;">
        <button mat-button [routerLink]="'/join-game'">Уђи у собу</button>
    </div>
</div>